@import './vars';

@mixin circle($width) {
	width: $width;
	height: $width;
	line-height: $width;	
	text-align: center;
	border-radius: 50%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: $text_color;
    outline: none;
    // font-size: 14px;
    font-weight: 500;
    text-decoration: none;

    .inverse & {
        color: #fff;
    }
}

input, button, textarea, a {
    outline: none;
}

p {
	margin: 0 0 1em 0;
}

.inverse {
    color: #fff;
}

.accent {
    color: $accent;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: 300;
}

.text {
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }
}

.call-me {
  position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 99;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  background-color: #58ea00;
  cursor: pointer;
  display: none;

  .fa {
    color: #fff;
    font-size: 25px;
    position: relative;
    top: 5px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 1px solid #58ea00;
    border-radius: 50%;
    animation: pulse 1.5s linear infinite;
  }

  &:after {
    animation-delay: 0.5s;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.hamburger {
    display: none;
    margin-left: 20px;
}

.grow {
    flex-grow: 1;
}

.button {
   display: inline-block;
   text-decoration: none;
   padding: 15px 24px;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   color: $text_color !important;
   border: 0;
   background-color: $accent;
   min-width: 290px;    
   cursor: pointer;

    &:hover {
        color: #fff !important;
    }    

    &.button-yellow {
        min-width: auto;
        padding: 0 20px;
        background-color: #e88232;
        color: #fff !important;
    }
}

.input, .textarea {
    background: transparent;
    color: $text_color;
    font-size: 14px;
    line-height: inherit;
    border: 1px solid $title_color;
    font-family: $default_family, sans-serif;
    padding: 16px 30px;
    min-width: 260px;

    .inverse & {
        color: #fff;
        border-color: #fff;

        &::-webkit-input-placeholder {
            color: #fff;
        }
        &::-moz-input-placeholder {
            color: #fff;
        }
        &::-ms-input-placeholder {
            color: #fff;
        }
    }

    &-div {
        position: relative;
        
        & .input {
          width: 100%;  
        }

        & .error-message {
            position: absolute;
            top: calc(100% + 5px);
            left: 0;
        }

        .inverse & {
            border-bottom-color: #fff;
        }
    }

    &.error {
		border-color: red;
		color: red;

		&+.error-message {
			display: block;
		}
	}

	&+.error-message {
        display: none;
        text-align: left;
        color: red;
        padding-left: 30px;
	}

	&::-webkit-input-placeholder {
        color: #000;
        font-weight: 300;
		opacity: 1;
	}
	
	&::-moz-placeholder {
        color: #000;
        font-weight: 300;
		opacity: 1;
	}
	
	&:-ms-input-placeholder {
        color: #000;
        font-weight: 300;
		opacity: 1;
	}
	
	&.error::-webkit-input-placeholder {
		color: red;
	}
	
	&.error::-moz-placeholder {
		color: red;
	}
	
	&.error:-ms-input-placeholder {
		color: red;
	}
}

.text {
    &-phone {
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;
    }

    &-center {
        text-align: center;
    }
}

.form {
    max-width: 877px;
    margin: 0 auto;
    text-align: center;

    &-title {
        font-weight: bold;
        margin: 0 0 35px;
    }

    &-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
}
