
/* Medium Devices, Desktops */
.visible-xxs {
    display: none !important;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

   .section {
      &-founders {
         .founders-text {
            .quote-left {
               display: none;
            }
            .quote-right {
               display: none;
            }
         }
         &-content {
            flex-wrap: wrap;
            align-items: stretch;
            
            .founder {
               width: 50%;
               display: flex;
               flex-direction: column;
               &-block {
                  flex-grow: 1;
               }
            }

            .founder-s {
               order: 3;
               display: flex;
               width: 100%;
               justify-content: space-between;
               .founder {
                  max-width: 360px;
               }
               .founder-img {
                  width: 360px;
               }
            }
         }
      }

      &-events {
          .event {
              display: block;
              &-img {
                  float: left;
                  margin-right: 20px;
                  margin-bottom: 5px;
              }
              &-block {
                  margin-left: 0;
              }
          }
      }
   }

}

@media only screen and (max-width : 991px) {	

    .form {
        &-content {
            justify-content: center;
            .input-div {
                margin: 0 15px 30px;
            }
        }
    }

    .hamburger {
        display: block;
    }    

    .header {
        .grow {
            display: block;
        }

        &-content {
            display: flex;
            align-items: center;
        }

        .phone-block {
            position: static;
            transform: none;
        }

        &.scrolled {        
            background-color: #fff;
    
            .logo, .phone-block {
                display: block;
            }

            .main-menu {
                top: 105px;
            }
        }
    }

    .footer {
        text-align: center;
        &-content {
            flex-direction: column;
        }
    }

	.main-menu {
        display: none;
        background-color: #fff;
		position: fixed;
		top: 125px;
		left: 0;
		right: 0;
		text-align: left;
		margin-left: 0;
		z-index: 98;

		ul {
			display: block;
			height: auto;
			padding: 0;

			li {
                margin: 0 0 5px;

                &:last-child {
                    margin: 0;
                }
			}
		}
    }

   .section {
      &-main {
         &-mir {
               &:before, &:after {
                  display: none;
               }
         }
      }
      &-company {
         .company {
            width: 46%;
         }
      }

      &-founders {         
         &-content {
            display: block;
            .founder-s {
               display: block;
            }
            .founder {
               margin: 0 auto 30px;
               width: 100%;
               &-block {
               }
            }
         }
      }

      &-events { 
         &-content {
         }
         .event {
            display: block;
            &-img {
                float: none;
               margin-bottom: 20px;
               margin-right: 0;
            }
            &-block {
                margin-left: 35px;
            }
         }
      }
      &-form {
         padding-top: 20px;
         padding-bottom: 20px;
      }

      &-workers {
         padding-top: 20px;
         padding-bottom: 20px;
         .section-title {
            margin-bottom: 30px;
         }
         .workers {
            flex-wrap: wrap;
            .worker {
               width: 50%;
            }
         }
      }
   }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

    .logo {
        max-width: 200px;
    }

    .header {
        &.scrolled {
            padding: 10px 0;

            .main-menu {
                top: 94px;
            }        
        }
    }

    .main-menu {
        top: 94px;
    }
    
   .section {
      &-title {
         font-size: 27px;
      }

      &-main {
         padding-top: 160px;
         &-title {
               line-height: 1;
         }

         &-footer {
               display: block;

               & > div {
                  background: transparent;

                  &:before {
                     right: -1000px;
                     left: -1000px;
                     z-index: -1;
                  }
               }
         }

         &-left {
               width: 100%;
               padding: 20px 0;

         }


      }  
      &-company {
         padding-top: 20px;
         padding-bottom: 20px;
      } 

      &-events { 
         &-content {
            flex-wrap: wrap;
         }
         .event {
            width: 100%;
            &:nth-child(1), &:nth-child(5) {
               &::before {
                  left: 0;
               }
            }
            &-block {
               text-align: center;
               margin-left: 0;
            }
            &:nth-child(3) {
               background: rgba(0,162,229,.75);
            }
            &:nth-child(4) {
               &::before {
                  background: transparent;
               }
            }
         }
      }
      
      &-form {
         .form {
            display: block;
            p {
               margin-bottom: 20px;
            }
            .button {
               width: auto;
            }
         }
      }

      &-workers {
         padding-top: 20px;
         padding-bottom: 20px;
         &-text {
            font-size: 20px;
         }
      }
   }

}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {
    .form {

        .input-div, .button {
            width: 100%;
            margin: 0 0 30px;
        }
    }

    .button {
        width: 100%;
        min-width: auto;

        &.button-large {
            font-size: 16px;
        }
    }

	.col-xxs-12 {
		width: 100%;
	}

	.col-xxs-offset-0 {
		margin-left: 0;
    }
    
    .visible-xxs {
        display: block !important;
    }

	.hidden-xxs {
		display: none !important;
    }

    .header {
        &.scrolled {

            .main-menu {
                top: 82px;
            }        
        }
    }

    .main-menu {
        top: 82px;
    }

   .section {
      &-title {
         font-size: 25px;
         margin-bottom: 20px;
      }
      &-main {
         &-title {
               font-size: 30px;
         }            
         &-aim, &-text, &-mir {
               font-size: 18px;
         }
      }
      &-company {
         .company {
            width: 100%;
         }
      }
      
      &-tasks {
         .task {
            &-text {
               .icon-task {
                  display: none;
               }
            }
         }
      }

      &-workers {
         .workers {
            .worker {
               width: 100%;
            }
         }
      }
   }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.main-menu {
		.container {
			width: auto;
			padding: 0;
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}